populationScripts/node_modules
populationScripts/recipesAndInteractions
populationScripts/recipes.json
populationScripts/recipesAndInteractions.zip
api/node_modules
api/.env
frontend/node_modules
*/.DS_Store